<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Backbone.js + RequireJS  + Foundation • TodoMVC</title>
	<link rel="stylesheet" href="{% static 'css/app.css' %}" />
	<script data-main="{% static 'js/main.js' %}" src="{% static 'js/lib/require/require.js' %}"></script>
	<!--[if IE]>
	<script src="{% static 'js/lib/ie.js' %}"></script>
	<![endif]-->
</head>
<body style="background: #eaeaea url('{% static 'img/bg.png' %}');">
	<section id="todoapp">
		<header id="header">
			<h1>todos</h1>
			<input id="new-todo" placeholder="What needs to be done?" autofocus>
		</header>
		<section id="main">
			<input id="toggle-all" type="checkbox">
			<label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list"></ul>
		</section>
		<footer id="footer"></footer>
	</section>
	<footer id="info">
		<p>Double-click to edit a todo</p>
		<p>Written by <a href="http://addyosmani.github.com/todomvc/">Addy Osmani</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</footer>
</body>
</html>
